<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Players</title>
    </head>
    <body>
        <ul>
        {{#each items }}
            <li>{{this.Player}}</li>
        {{/each}}
        </ul>
    </body>
</html>